{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import", "react", "jsx-a11y"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "node/no-unsupported-features/node-builtins": "off",
    "no-param-reassign": "off",
    "prettier/prettier": "error",
    "no-unused-vars": "warn",
    "no-console": "off",
    "func-names": "off",
    "no-process-exit": "off",
    "object-shorthand": "off",
    "class-methods-use-this": "off",
    "no-shadow": "warn"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}